@import "tailwindcss";

body {
  background-color: #623307;
  color: #FEF08A;
  font-family: 'Geneva', sans-serif;
}

nav {
  border-bottom: #FEF08A 2px solid;
}

a {  
  color: #FEF08A;
}

.text-brown{
    color:#623307 !important;
}
.wallet-button:hover {
    color:#623307 !important;
}
.bg-brown{
    background-color:#623307 !important;
}


body {
  background-image: url("../src/assets/paws.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 800px auto;
}
